<!-- start:TEST -->
<form action="index.php" method="post">
	<textarea style="height: 200px;" name="text">{{ @$_POST['text'] }}</textarea><br> <b><u>Result:</u></b><br> %%
	                                                                                                            output
	                                                                                                            %%<br><br>
	                                                                                                            %%
	                                                                                                            code_output
	                                                                                                            %%<br>
	<input type="submit">
</form><!-- end:TEST -->