<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:title" content="%page_title% - %site_name%" />
	<meta property="og:url" content="%site_url%" />
	<meta property="og:site_name" content="%site_name%" />
	<meta property="og:description" content="%description%" />
	<meta property="og:image" content="" />

	<title>%% title %%</title>

	<style>
		.emojione {
			font-size: inherit;
			height: 3ex;
			width: 3.1ex;
			min-height: 20px;
			min-width: 20px;
			display: inline-block;
			margin: -.2ex .15em .2ex;
			line-height: normal;
			vertical-align: middle
		}

		img.emojione {
			width: auto
		}
	</style>

	<!-- Bootstrap -->
	<link href="template/default/css/bootstrap.min.css" rel="stylesheet">
	<link href="template/default/css/default.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>    <![endif]-->
</head>
<body>


<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#user-nav">
				<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="user-nav">
			<ul class="nav navbar-nav">
				<li><a href="#">Reports <span class="label label-warning">5</span></a>
				</li>
				<li><a href="#">Admin CP</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"
					                                                              aria-hidden="true"></i>

						%% username %%</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#"> Test </a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-envelope"
					                                                               aria-hidden="true"></i> Conversations

						<span class="label label-warning">10</span> </a>
					<ul class="dropdown-menu">
						<li><a href="#">
							<h4>
								Test Message </h4>
							<small>By Peter 13 minutes ago
							</small>
						</a>
						</li>

						<li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">No
						                                                                                   Messages</a>
						</li>

						<li><a href="#">Conversations</a></li>
						<li><a href="#">New Message</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="overflow:auto;"> <i
							class="fa fa-bell"></i> <span class="label label-warning">2</span>

					</a>
					<ul class="dropdown-menu">
						<li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">No new
						                                                                                   notifications
						                                                                                   yet.</a></li>
						<li><a href="#"> Peter Ottoson quoted you.
							<small class="text-muted">3 minuts ago</small>
						</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>


<div class="container">

	<div class="row">
		<div class="col-md-10">
			<h1>
				<div class="logo"></div>
			</h1>
		</div>
		<div class="col-md-2">

			<div class="btn-group login-bar">
				<a href="#" class="btn btn-warning btn-block dropdown-toggle" data-toggle="dropdown">Log In</a>
				<ul class="dropdown-menu dropdown-menu-right" role="menu">
					<li class="login-form">
						<form action="%site_url%/members.php/cmd/signin" method="POST">
							<input type="hidden" name="current_url" value="%current_url%" /> <input type="text"
							                                                                        name="email"
							                                                                        class="form-control"
							                                                                        id="inputEmail3"
							                                                                        placeholder="Username or Email">
							<input type="password" name="password" class="form-control" id="inputPassword3"
							       placeholder="Password"> <label> <input type="checkbox" name="remember"> Remember me
						</label> <input type="submit" class="btn btn-primary btn-block" name="signin" value="Log In" />
							<a href="%facebook_login_url%" class="btn btn-info btn-block"><span
									class="label label-primary"><i class="fa fa-facebook"></i></span> Sign In</a>
						</form>
					</li>
			</div>

		</div>
	</div>
	<div class="well well-sm">
		<ul class="nav nav-pills">
			<li class="active"><a href="#">Forum</a></li>
			<li><a href="#">Members</a></li>
		</ul>
	</div>

	<div class="row">

		<div class="col-md-12">
			<div class="row">
				<div class="col-md-9">
					<h1 class="title">%% title %%</h1>
				</div>
				<div class="col-md-3">
					<form action="#" method="POST" class="search">
						<input name="search_query" type="text" class="form-control tooltip_toggle"
						       placeholder="Search..."> <input type="submit" name="search_submit"
						                                       style="visibility:hidden;display:none;" value="Search" />

					</form>
				</div>
			</div>
			%% content %%
		</div>

	</div>

	<footer class="footer">
		<div class="row">
			<div class="col-md-6">
				<a href="http://ikobb.de/">Powered by IkoBB</a><br />
				<small class="text-muted">Load Time: %elapsed_time% seconds | Memory: %memory_usage%</small>
			</div>
			<div class="col-md-6 change_theme">
				<div class="btn-group dropup">
					<button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
						Change Theme <span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right" role="menu">
						<li class="active"><a href="#"> Default </a></li>
						<li><a href="#"> Default 2 </a></li>

					</ul>
				</div>
			</div>
		</div>
	</footer>

</div>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="template/default/js/bootstrap.min.js"></script>
<script src="template/default/js/sand.js"></script>
</body>
</html>